@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

#profile {
  rotate: 270deg;
  /*width: 250px;*/
  /*border-radius: 100%;*/
  border: thin black solid;
  /*position: absolute;
  top: 1em;
  left: 6em;*/
}

#header, #nav {
  border-bottom: thin black solid;
}